body {
  font-family: "Roboto", sans-serif;
}

div.pageContent {
  margin-top: 5em;
  height: 100%;
  text-align: center;
}

img.img_sprite_front_default {
  width: 96px;
  height: 96px;
  margin-block: 1em;
}

button#previous,
button#next {
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}
